<div class="container login-form" *ngIf="!isLoggedIn">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <h2 class="h3 mb-3 text-center">Login to Your Account</h2>  
          <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">
              <div class="">
                <div class="form-group">
                  <input type="input" name="username" class="form-control form-control-lg" placeholder="User Name" formControlName="username">
                </div>

                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" formControlName="password">
                </div>

                <div class="form-group">
                  <input type="submit" name="login" class="btn btn-success btn-lg btn-block" value="Login">
                </div>
            </div>
          </form>
        
          <div class="login-help">
            <button (click) ="loginWithGoogle()" class="btn btn-danger btn-lg btn-block"><i class="fa fa-google"></i> Login with Google</button>
            <p class="text-center text-info">Username:test@test.com -  Password:password</p>
          </div>
    </div>
  </div>
</div>
  