<div class="card bg-light mb-3">
<div class="form-group">
    <h4>Employee Details</h4>
    <input class = "form-control" type="text" #empName placeholder="Enter employee name to search..."> <br/>
    <button class="btn btn-success" (click)='getData(empName.value)'>Search</button>  &nbsp;
    <button class="btn btn-info" (click)='getData()'>Show All</button>
 </div> 
 
<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeelist">
    <td>{{employee.name}}</td>
    <td>{{employee.position}}</td>
    <td>
        <a class="edit" title="edit" style="color: #FFC107; cursor: pointer;" data-toggle="tooltip" (click)="onEdit(employee)">
          <i class="material-icons">&#xE254;</i>
        </a>
        <a class="delete" title="delete" style="color: #E34724; cursor: pointer;" data-toggle="tooltip" (click)="onDelete(employee.$key)">
          <i class="material-icons">&#xE872;</i>
        </a>
    </td>
    </tr>
</table>