<nav class="navbar navbar-expand navbar-light bg-light mb-10">
    <h1 class="navbar-text text-center ml-auto">Employee Information System</h1>      
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" [routerLink]="" (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Logout </a>
    </div>
</nav>
  
<hr>

<div class="row">
  <div class="col-md-7">
<app-employee></app-employee>
  </div>

  <div class="col-md-5">
<app-employee-list></app-employee-list>
  </div> 
</div>