<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type = "hidden" name ="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="card bg-light mb-3">
    <div> <h4> Employee Register </h4></div>
    
    <div class="form-group">
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full name of the employee" required>  
  </div>  

    <div class="form-group">
      <input class = "form-control" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Postion of the employee" required>
    </div>

    <div class="form-group">
      <input class = "form-control" name="location" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.location" placeholder="Location of the employee" required>
    </div>

    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="input-group-text fa fa-dollar"></i>
          </div>
            <input class = "form-control" name ="salary" #name ="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary of the employee" required>
        </div>
    </div> 
    <div class="form-group">
      <button class="btn btn-success" type="submit" [disabled]="!employeeForm.valid"> 
      <i class="fa fa-floppy-o"></i>
      Submit</button>
      &nbsp;
      <button class="btn btn-primary" type="button" (click)="resetForm(employeeForm)"> 
      <i class="fa fa-repeat"></i>
      Reset</button>
    </div>
  </div>
</form>
